
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Keyframes pour les animations de slide */
@keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(100%);
    }
  }
  
  /* Classes Tailwind pour les animations */
  .animate-slide-in-up {
    animation: slideInUp 0.5s ease-out forwards;
  }
  
  .animate-slide-out-down {
    animation: slideOutDown 0.5s ease-out forwards;
    /* Pour l'animation de sortie, assurez-vous qu'elle est cachée ou décalée */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Classes spécifiques à react-transition-group pour l'entrée et la sortie */
  /* Ces classes seront ajoutées/retirées par CSSTransition */
  .animate-slide-in-up-enter {
    opacity: 0;
    transform: translateY(100%);
  }
  .animate-slide-in-up-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }
  .animate-slide-in-up-exit {
    opacity: 1;
    transform: translateY(0%);
    position: absolute; /* Important pour que l'élément sortant ne bouge pas l'autre */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .animate-slide-in-up-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }
  
  /* Classes pour la sortie qui monte */
  .animate-slide-out-down-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  .animate-slide-out-down-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }
  .animate-slide-out-down-exit {
    opacity: 1;
    transform: translateY(0%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .animate-slide-out-down-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 500ms ease-out, transform 500ms ease-out;
  }